// Abstracts
@import "./styles/abstract/variables";
@import "./styles/abstract/mixins";
@import "./styles/abstract/utils";

// Bases
@import "./styles/base/normalize";

// Components
@import "./styles/components/dialog";
@import "./styles/components/checkbox";
@import "./styles/components/button";
@import "./styles/components/spinner";

// Pages
@import "./styles/pages/home";

.container {
  padding: toRem(24);
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
